body {
  margin: 0;
}
.container {
  background: silver;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
}

.group1 {
  background: skyblue;
}
.group2 {
  background: lime;
}
.group3 {
  background: yellow;
}
.group4 {
  background: orange;
}
.group5 {
  background: maroon;
}
.group6 {
  background: mediumaquamarine;
}
.group7 {
  background: antiquewhite;
}
.group8 {
  background: slategray;
}
.group9 {
  background: lavender;
}
.group10 {
  background: fuchsia;
}
.group11 {
  background: tan;
}
.group12 {
  background: indigo;
}

[class*="group"] {
  width: 100%;
  height: 50px;
}

/* 768px 이상일 때 */
@media (min-width: 768px) {
  div[class*="group"] {
    width: 50%;
    height: 100px;
  }
}

/* 1280px 이상일 때 */
@media (min-width: 1280px) {
  div[class*="group"] {
    width: 25%;
    height: 200px;
  }
}
