@import url(./fonts.css);
@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 숨김 컨텐츠 */
.a11y-hidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* content-box: 설정한 width 값 + padding + border + margin */
  /* border-box: 설정한 width 값 속에 margin + border + padding 포함. */
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  /* inherit 부모의 요소를 상속받는다. */
  text-decoration: none;
}

/* footer는 100%, 나머지 영역은 940px로 적용 */
/* 좌우 여백이 브라우저, 창의 크기마다 유동적이게끔 설정 */

/* 본문 스타일 */
body {
  /* em, rem 단위를 사용해보기 */
  font-size: 1.4rem;
  color: #212121;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  background: url(./images/bg_flower.png) no-repeat 50% 0,
    #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 70%, #fff 100%)
      repeat 0 0;
  /* margin: 0;
     -> 모든 브라우저는 고유의 agent stylesheet가 있다.
     -> agenmt stylesheet의 margin값을 0으로 설정. */
}

/* layout */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
  /* 0 auto = 브라우저의 크기 맞게 왼쪽,오른쪽 여백을 자동으로 변경된다. */
}

/* header */
.header {
  background: #efefef;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* logo */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  /* position 속성을 활용하여 .member 영역을 오른쪽으로 10xp 만큼 이동하기 */
  /* position: relative;
  right: -10px; */
  /* transform 속성을 활용하여 .member 영역을 오른쪽으로 10xp 만큼 이동하기 */
  transform: translateX(10px);
}

.member li {
  display: inline-block;
}

/* 마지막 li 요소에 포함된 a요소를 선택하여 오른쪽 padding 0으로 재정의하는 방법*/
/* .memnber li:last-child a {
  padding-right: 0;
} */

.member a {
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

.divider {
  margin-right: 4px;
}

/* main menu */
.navigation {
  padding-bottom: 40px;
}
.menu {
  border-top: 2px solid currentColor;
  background: #e85e2c
    linear-gradient(
      to bottom,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%
    );
  border-radius: 0 0 5px 5px;
  /* display: flow-root; */
  padding-left: 230px;
  height: 47px;
  position: relative;
}

.menu > li:nth-child(-n + 3) {
  position: relative;
}

.menu-item {
  /* background-color: aqua; */
  float: left;
  border-left: 2px solid #fefefe;
}

.menu-button {
  border: 0;
  background: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: aliceblue;
  text-shadow: 2px 2px 2px #212121;
}

.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #212121;
}

.sub-menu {
  position: absolute;
  top: 47px;
  padding: 4px 0;
  display: none;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
  /* 공백문자를  줄바꿈의 대상으로 삼지 않는다 */
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a {
  display: inline-block;
  padding: 6px 0;
}

.sub-menu a::before {
  content: "\e805";
  font-family: "fontello";
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: "\e801";
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: #f00;
}

/* visual area */
/* at sign rule */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    /* color: rgba(0,0,0,0.2); */
    color: hsla(0, 0%, 0%, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    /*color: rgba(0,0,0,1);*/
    color: hsla(0, 0%, 0%, 1);
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before,
.visual::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fadeEffect 2000ms infinite;
  animation-direction: alternate;
}

.visual::before {
  background: url(./images/ani_flower_01.png) no-repeat 5% 0%,
    url(./images/ani_flower_02.png) no-repeat 70% 10%;
  background-size: 130px 130px, 70px 70px;
}
.visual::after {
  background: url(./images/ani_flower_03.png) no-repeat 35% 80%,
    url(./images/ani_flower_04.png) no-repeat 90% 90%;
  background-size: 70px 70px;
  animation-delay: 3000ms;
}

.visual-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  animation: moveEffect 500ms ease-in-out forwards;
  position: relative;
  z-index: 1;
}

/* main area */
.main {
  background: #fefefe;
  min-height: 450px;
  display: flow-root;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
  /* main area에 height를 지정하지 않았을 때 float 설정을 하게된다면 main area의 height가 줄어든다. */
  /* 
  height가 지정되지 않았을 떄 float의 부모요소에 display: flow-root; 적용시키면 레이아웃이 무너지지 않는다.

  float의 부모요소에 overflow: hidden;을 사용할 경우 자주 쓰지만 올바른 방법은 아니다.
  overflow는 넘치는 영역에 대한 처리를 하는 역할을 한다.
  잠재적 위험도: position property로 좌표값을 사용할 경우 일부가 안보이는 경우가 생긴다.
  */

  /* BFC = block formatting context, IFC = inline formatting context */

  /* 부모요소에 float을 적용할 경우는 double float할 때 */
}
/* 
.main::before {
  content: "첫번째 자식요소입니다.";
}
.main::after {
  content: "마지막 자식요소입니다.";

  가상요소를 만들어내는 요소이다.
} 
*/

/* 
첫 번째 그룹 250px, 중간 380px, 마지막 190px 각 여백 30px = 940px
position, float, display(inline-block, flex, grid) 방식으로 영역 설정할 수 있음.
*/
/* .clearfix {
  clear: both;
  clear속성이 동작하는 동안 flow속성의 높이를 읽는다.
  float을 무시할거야!
} */

/* .main::after {
  content: "";
  clear: both;
  display: block;
  
  ::after요소는 inline요소이기 떄문에 block처리한다.
} */
.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
}

.group2 {
  /* background-color: salmon; */
  width: 380px;
}
.group3 {
  /* background-color: gold; */
  width: 190px;
}

/* login area */
.login {
  box-shadow: 5px 5px 0 0 #ccc;
  background: orange radial-gradient(circle at right top, orange, orangered);
  padding: 10px;
  border-radius: 5px;
}

.login-title {
  color: yellow;
  font-size: 16px;
  font-weight: 700;
  text-indent: 10px;
}

.login-form {
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
}

.login-form fieldset {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.login-form label {
  display: inline-block;
  width: 50px;
}

.user-email,
.user-password {
  margin-bottom: 5px;
}

.login-form input {
  width: 90px;
  height: 24px;
  margin-left: 5px;
  padding: 1px 1px 1px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 52px;
  background-color: coral;
  color: #fff;
  border: 0;
  padding: 0 8px;
  border-radius: 5px;
}

.sign {
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sign a {
  display: block;
  padding: 6px 0;
  letter-spacing: -1px;
}

.sign a::before {
  content: "\e803";
  color: coral;
  font-family: "fontello";
  margin-right: 8px;
  cursor: pointer;
}

.validation-list {
  margin-top: 25px;
  /* text-align: center; */
}

.validation-list li {
  margin-bottom: 10px;
}

.validation-list a {
  display: block;
  background: url(./images/validation_icon.png) no-repeat 25px 50%,
    #ccc linear-gradient(to bottom, #ccc, #fefefe);
  border: 1px solid #bbb;
  border-radius: 20px;
  padding: 10px 20px 10px 50px;
  font-weight: 500;
}

.validation-list a:hover,
.validation-list a:focus {
  color: red;
}

/* .validation-list a::before {
  content: url(./images/validation_icon.png);
  vertical-align: middle;
} */

/* 웹 관련 용어 */

.term {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #bbb;
  background: #ccc linear-gradient(to bottom, #ccc, #ddd);
}

.term-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.term-list {
  margin-top: 10px;
}

.term-list div {
  margin-top: 10px;
  display: flow-root;
}

.term-list-subject,
.term-list-brief {
  float: right;
  width: 145px;
}

.term-list-subject {
  color: #296897;
  font-weight: 500;
}

.term-list-thumbnail {
  float: left;
}

.term-list-thumbnail img {
  vertical-align: middle;
  /* 이미지 아래쪽 갭이 사라진다. display: block;과 같은 효과 */
}

.term-list-brief {
  margin-top: 5px;
  line-height: 1.5;
}

.even .term-list-subject,
.even .term-list-brief {
  float: left;
}

.even .term-list-thumbnail {
  float: right;
}

/* search-form */
.search-form {
  padding: 15px 25px 10px;
  border-radius: 15px 15px 0 0;
  border: 1px solid #bbb;
  background: #ccc linear-gradient(to bottom, #ccc, #ddd);
}

.search-form-inner {
  display: flex;
  flex-flow: row nowrap;
}

.form-group {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 10px;
}
.form-group-label {
  white-space: nowrap;
  margin-right: 10px;
}
.form-group-input {
  border: 1px solid #bbb;
  border-radius: 3px;
  height: 24px;
  padding: 1px 1px 1px 5px;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  /* 브라우저마다 agent가 다르기 때문에 0값으로 지정해준다. */
}
.button-fill {
  background-color: #212121;
  color: #ffffff;
  height: 24px;
  border: 0;
  border-radius: 3px;
  padding: 0 10px;
  white-space: nowrap;
  font-size: 1.2rem;
}
/* slogan area */
.slogan {
  background: skyblue;
  height: 10vh;
  clear: both;
}

/* footer area */
.footer {
  background: #ccc
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 70%, #fff 100%);
}
.footer-inner {
  background: silver;
  height: 15vh;
}
