@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  color: #212121;
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}

.member {
  background-color: pink;
}

/* 비주얼 */
.visual {
  height: 120px;
}
/* 메인 */
.main {
  background: #fff;
  min-height: 450px;
  display: flow-root;
}

.group {
  float: left;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  clear: both;
}
/* 푸터 */
.footer {
  background: gray;
}
.footer-inner {
  background: silver;
}
